<!DOCTYPE html>
<html>
<head>
    <title>GittyCity</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,800,700italic' rel='stylesheet' type='text/css' />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav id="main_nav" class="top_nav">
        <div id="img_placeholder"><img id="main_img" class="img" src="~/Images/sprite2.png" alt="data_logo" /></div>
        <h1 id="main_title" class="title">GittyCity</h1>
        <div id="login_btn" class="main_login">Login</div>
    </nav>
    <section id="content" class="main_content">
        @ViewBag.id
        <br />
        @ViewBag.pos
    </section>
</body>
</html>
