<!DOCTYPE html>
<html>
<head>
    <script src="http://maps.googleapis.com/maps/api/js">
    </script>
    <script src="~/Scripts/Googlemaps.js"></script>
</head>
<body>
    <div style="margin-left:10%;margin-top:10%;">
        <select>
            <option value="Auto1">Auto 1</option>
            <option value="Auto2">Auto 2</option>
            <option value="Auto3">Auto 3</option>
            <option value="Auto4">Auto 4</option>
            <option value="Auto5">Auto 5</option>
            <option value="Auto6">Auto 6</option>
            <option value="Auto7">Auto 7</option>
            <option value="Auto8">Auto 8</option>
            <option value="Auto9">Auto 9</option>
            <option value="Auto10">Auto 10</option>
        </select>
        <br />
        <select>
            <option>10-03-2015</option>
            <option>11-03-2015</option>
            <option>12-03-2015</option>
            <option>13-03-2015</option>
            <option>14-03-2015</option>
            <option>15-03-2015</option>
            <option>16-03-2015</option>
            <option>17-03-2015</option>
            <option>18-03-2015</option>
            <option>19-03-2015</option>
        </select>
    </div>
    <div id="googleMap" style="width:500px;height:380px;margin-left:60%;position:absolute"></div>
</body>
</html>

