<!DOCTYPE html>
<html>
    <head>
        <title>GittyCity</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,800,700italic' rel='stylesheet' type='text/css' />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="~/Scripts/Googlemaps.js">initialize();</script>
        <script type="text/javascript">
            
            var tabs = [
                [0, "unitId", "hsla(0, 100%, 50%, 0.20)"],
                [1, "dateTime", "hsla(51, 100%, 50% ,0.20)"],
                [2, "location", "hsla(102, 100%, 50%, 0.20)"],
                [3, "engineStatus", "hsla(153, 100%, 50%, 0.20)"],
                [4, "boxInfo", "hsla(255, 100%, 50%, 0.20)"],
                [5, "GPS", "hsla(306, 100%, 50%, 0.20)"]
            ];
            function colorCats() {
                for (i = 0; i <= 5; i++) {
                    part_id = tabs[i][1];
                    full_id = "con_category_" + part_id;
                    elem = document.getElementById(full_id);
                    elem.style.backgroundColor = tabs[i][2];
                }
            }
            function tabSwitch(tab_id) {
                var horiz_position = -tab_id * 100;
                var left_margin = 10;
                var position = horiz_position + left_margin;
                var main = document.getElementById("con_all");
                main.style.left = position + "vw";
            }
            function inflate_space() {
                var screen_height = document.documentElement.clientHeight;
                var screen_width = document.documentElement.clientWidth;
                var main_elems = document.getElementsByClassName("con_category");
                var max_height = 0;
                for (i = 0; i < main_elems.length; i++) {
                    var pork_height = document.getElementsByClassName("con_category")[i].offsetHeight;
                    if (pork_height > max_height) { max_height = pork_height; }
                }
                pix_amt_sh = screen_height / 100;
                rel_height = Math.ceil(max_height / pix_amt_sh);
                document.getElementById("empty_con").style.height = rel_height + "vh";
            }
            var idCollection = [];
            var miscCollection = [];
            function checkbox_tick(elem, arr) {
                var counter = idCollection.length;
                var x = elem.getAttribute("value");
                if (elem.style.backgroundImage != 'url("/Images/sprite45986.png")') {
                    elem.style.backgroundImage = 'url("/Images/sprite45986.png")';
                    switch (arr) {
                        case "id": {
                            idCollection.push(x);
                            break;
                        }
                        case "misc": {
                            miscCollection.push(x);
                            break;
                        }

                    }
                }
                else {
                    elem.style.backgroundImage = "none";
                    switch (arr) {
                        case "id": {
                            var index = idCollection.indexOf(x);
                            if (index >= 0) {
                                idCollection.splice(index, 1);
                            }
                            break;
                        }
                        case "misc": {
                            var index = miscCollection.indexOf(x);
                            if (index >= 0) {
                                miscCollection.splice(index, 1);
                            }
                            break;
                        }
                    }
                }
            }
            function test() {
                if (idCollection.length > 0){
                    var i = 0
                    var idForm = document.createElement("form");
                    idForm.setAttribute('method', "post");
                    idForm.setAttribute('action', '/');
                    idForm.setAttribute('name', 'Jon');
                    while (i < idCollection.length)
                    {
                        var test = document.createElement("input");
                        test.setAttribute('type', "label");
                        test.setAttribute('value', idCollection[i]);
                        test.setAttribute('name', 'id_' + i);
                        idForm.appendChild(test);
                        i++;
                    }
                    var submit = document.createElement("input");
                    submit.setAttribute('type', 'submit');
                    submit.setAttribute('value', 'click');
                    idForm.appendChild(submit);
                    document.body.appendChild(idForm);
                }
            }
        </script>
    </head>
    <body>
        <nav id="main_nav" class="top_nav">
            <div id="img_placeholder"><img id="main_img" class="img" src="~/Images/sprite2.png" alt="data_logo" /></div>
            <h1 id="main_title" class="title">GittyCity</h1>
            <div id="login_btn" class="main_login">Login</div>
        </nav>
        <section id="content" class="main_content">
            <div id="intro_div" class="info">
                <h1 id="content_title" class="title">
                    Welkom op GittyCity, waar u gewenste informatie over politievoertuigen kunt selecteren en er een rapport van kan maken.<br />
                    Beweeg uw muis over dit textvlak voor meer info.
                </h1>
                <br />
                <p id="intro" class="paragraph">
                    Hieronder ziet u een scherm met verchillende opties met checkboxen. Met behulp van deze keuzes kunt u uw eigen
                    rapport samenstellen. Gebruik de tabs om te navigeren tussen categorieën. Als u tevreden bent met uw keus, klik dan
                    op de knop met "Maak Rapport". Het rapport wordt voor u gegenereerd, en dan kunt u het downloaden.
                </p>
            </div>  
            <div id="info_select">
                <nav id="nav_category">
                    <div onclick="tabSwitch(0);" id="nav_category_unitId" class="nav_category_tab">Unit ID</div>
                    <div onclick="tabSwitch(1);" id="nav_category_dateTime" class="nav_category_tab">Datum en Tijd</div>
                    <div onclick="tabSwitch(2);" id="nav_category_location" class="nav_category_tab">Locatie</div>
                    <div onclick="tabSwitch(3);" id="nav_category_engineStatus" class="nav_category_tab">Motor en CityBox</div>
                    <div onclick="tabSwitch(4);" id="nav_category_boxInfo" class="nav_category_tab">CityBox Info</div>
                    <div onclick="tabSwitch(5);" id="nav_category_GPS" class="nav_category_tab">GPS Info</div>
                </nav>
                <br />
                <section id="con_all">
                    <!--Since the below HTML are inline elements, an extra space is always rendered on a newline.
                        These newline spaces are commented out.-->
                    <section class="con_category" id="con_category_unitId">
                        <h1>Unit ID</h1>
                        <br />
                        <div id="unitID_options" class="cat_options">
                            @ViewBag.id
                        </div><!--
                        --><div id="unitID_end" class="cat_end">
                            Next <div class="arrow"></div>
                        </div>
                    </section><!--
                 --><section class="con_category" id="con_category_dateTime">
                        <h1>Date and Time</h1>
                        <br />
                        <div id="dateTime_options" class="cat_options">
                            <div class="option">
                                @ViewBag.date
                            </div>
                        </div><!--
                        --><div id="dateTime_end" class="cat_end">
                            Next <div class="arrow"></div>
                        </div>
                    </section><!--
                 --><section class="con_category" id="con_category_location">
                        <h1>Location</h1>
                        <br />
                        <div id="location_options" class="cat_options">
                            <div class="option">
                                Positie
                                <div class='option_checkbox' onclick='checkbox_tick(this)'>
                                    <div id="googleMap" style="width:500px;height:380px;"></div>
                                </div>
                            </div>
                        </div><!--
                        --><div id="position_end" class="cat_end">
                            Next <div class="arrow"></div>
                        </div>
                    </section><!--
                 --><section class="con_category" id="con_category_engineStatus">
                        <h1>Engine Status</h1>
                        <br />
                        <div id="engineStatus_options" class="cat_options">
                            <div class="option">
                                Optie <input type="text" />
                            </div>
                        </div><!--
                        --><div id="engineStatus_end" class="cat_end">
                            Next <div class="arrow"></div>
                        </div>
                    </section><!--
                 --><section class="con_category" id="con_category_boxInfo">
                       <h1>Box Info</h1>
                        <br />
                        <div id="boxInfo_options" class="cat_options">
                            <div class="option">
                                Optie <input type="text" />
                            </div>
                        </div><!--
                        --><div id="boxInfo_end" class="cat_end">
                            Next <div class="arrow"></div>
                        </div>
                    </section><!--
                 --><section class="con_category" id="con_category_GPS">
                        <h1>GPS</h1>
                        <br />
                        @ViewBag.testPork
                        <div id="GPS_options" class="cat_options">
                            @ViewBag.misc
                        </div><!--
                        --><div id="GPS_end" class="cat_end">
                            Next <div class="arrow"></div>
                        </div>
                    </section>
                </section>
                <button onclick="test()">CLICK ME TO TEST</button>
            <section id="empty_con">

            </section>
            <section id="summary">

            </section>
            </div>          
        </section>
        <script>
            colorCats();
            setTimeout(f, 0);
            function f() {
                inflate_space();
            }
        </script>
    </body>
</html>
