<!DOCTYPE html>
<html>
<head>
    <title>GittyCity</title>
</head>
<body>
    <div style="margin-left:40%; margin-top:20%;"><H3>Navigeer via bovenstaande knoppen</H3></div>
    <div>hoi XXL</div>
</body>
</html>
